#hnmain{
    min-width: 796px;
    border: 0px;
    width: 85%;
    background-color: #f6f6ef;
    padding: 0px;
    border-spacing: 0px;
}

.logoStyle{
    border: 1px white solid;
    display: block;
}

.navBtnSection{
    line-height: 12pt;
    height: 10px;
}

.hname{
    margin-left: 1px;
    margin-right: 5px;
}

.pageTop{
    color: #222222;
    line-height: 12px;
}

.brandLogo{
    width: 18px;
    padding-right: 4px;
}

.navbar{
    border: 0px;
    width: 100%;
    padding: 2px;
}

.navbar a{
    text-decoration: none;
    color: #222222;
}

.mainContainer{
    display: flex;
    justify-content: center;
}

.voteArrow{
    width: 10px;
    height: 10px;
    margin: 3px 2px 6px;
    background-size: 10px;
    border: 0px;
}

.voteLinks{
    align-items: center;
    justify-content: center;
    vertical-align:top;
    font-size: 10pt;
}

.newsTitle{
    color: #828282;
    font-size: 10pt;
}
.newsTitle a{
    text-decoration: none;
    color: #000000;
}

.newsTitle a:visited{
    color: #828282;
}

.subText{
    font-size: 7pt;
    color: #828282;
}

.subText a{
    text-decoration: none;
    color: #828282;
}